<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>

<body>
    <%-include('header') %>
        <%# 주석 / 이름 부분에 name이라는 변수가 가지고 있는 값 출력 %>
            <h1>환영합니다, <%=user.name %> 님!</h1>
            <h1>환영합니다, <%-user.name %> 님!</h1>

            <%# 조건문 : isPremium true-> 프리미엄회원/false->일반회원%>
                <% if(user.isPremium){ %>
                    <h1>프리미엄회원님, 특별한 혜택을 누려보세요!</h1>
                    <% }else{ %>
                        <h1>프리미엄회원이 되시면 더 많은 혜택이 있습니다.</h1>
                        <%}%>

                            <h2> 판매 과일 목록(과일이름 - 가격)</h2>
                            <ul>
                                <%items.forEach( (item)=> {%>
                                    <li>
                                        <%- item.fruit %> - <%= item.price %> 원
                                    </li>
                                    <%});%>
                            </ul>

                            <%- include('footer') %>
</body>

</html>