<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>

    <div class="container">
        <h2>Node.js로 만드는 나만의 게시판</h2>
        <div class="card">
            <div class="card-header bg-primary text-white">게시판 목록</div>
            <div class="card-body">
                <table class="table table-hover">
                    <tr>
                        <td>번호</td>
                        <td>제목</td>
                        <td>작성자</td>
                        <td>조회수</td>
                        <td>날짜</td>
                    </tr>
                    <% board.forEach((e, index) => {%>
                    <tr>
                        <td><%=e.idx%></td>
                        <td><%=e.title%></td>
                        <td><%=e.writer%></td>
                        <td><%=e.count%></td>
                        <td>
                            <%=e.indate.getFullYear()%>-<%=e.indate.getMonth() + 1%>-<%=e.indate.getDate() %>
                        </td>
                    </tr>
                    <%});%>

                </table>
            </div>
            <div class="card-footer bg-dark text-white">제작자-박병관</div>
        </div>
    </div>

</body>

</html>